<body><!DOCTYPE html>
<html>
<link rel="icon" type="image/svg+xml" href="favicon.svg">
<head>
    <title>Знакосчиталка</title>
</head>
<body>

<p>В тексте {{letters}} символов, без пробелов</p>
<p>В тексте {{length}} символов, с пробелами</p>

<div style="width: 80vw">
    <textarea style="width: 80vw; height: 30vh" id="content" name="input"  form="input">{{text}}</textarea>
    <br>
    <br>
    <form style="float: right;" action="/counter" id="clean" method="get">
        <input type="submit" value="Очистить">
    </form>
    <form style="float: left;" action="/counter" id="input" method="post">
        <input type="submit" value="Рассчитать">
    </form>
</div>
</body>
